{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="container author">
    <h4>{% trans "number"|capfirst %}: {{car.number}}</h4>
    <h4>{% trans "vin-number"|capfirst %}: {{car.vin_number}}</h4>
    <h4>{% trans "model"|capfirst%}: {{car.model_id}}</h4>

    </br>
    <h5>{%trans "orders"|capfirst%}:</h5>
    {% for order in car.orders.all %}
        {% for order_line in order.orders_lines.all %}
           <li>{{order_line.service_id}}: {{ order_line.quantity}}.</li>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}