{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <h1>{% trans "car service"|capfirst %}</h1>
  <p>{% trans "our works"|capfirst%}:</p>
  <ul>
    <li><strong>{% trans "orders accepted"|capfirst %}:</strong> {{ order_count }}</li>
    <li><strong>{% trans "orders completed"|capfirst %}:</strong> {{ order_finished_count }}</li>
    <li><strong>{% trans "cars serviced"|capfirst %}:</strong> {{ car_count }}</li>
  </ul>
  <p>{% blocktrans %}You're coming here for the {{ num_visits }} time.{% endblocktrans %}</p>

{% endblock %}